/*
 * Copyright 2017 Palantir Technologies, Inc. All rights reserved.
 */
body,
html,
#root {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #ebf1f5;
  font-family: 'Fira Sans', sans-serif; }

.app, .app-center {
  display: flex;
  flex-flow: column wrap;
  padding-top: 4rem;
  padding-left: 1.25%;
  padding-right: 1.25%;
  width: 97.5%;
  margin-left: auto;
  margin-right: auto; }

.app-center {
  align-items: center;
  justify-content: center; }

.flex-row-center, .flex-row-space-evenly {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: inherit;
  margin-bottom: 10px; }

.flex-row-space-evenly {
  justify-content: space-evenly; }

.search-input {
  margin: 10px; }

.brand, .brand-center {
  margin-bottom: 10px;
  /* Prevent the brand text from making the page scale horizontally */
  overflow-wrap: break-word;
  max-width: 100%; }

h1.brand, h1.brand-center {
  font-size: 4em;
  line-height: 1em; }

.brand-center {
  text-align: center; }

div.teaching-assistant {
  margin-bottom: 10px;
  background-color: #106ba3; }

div.teaching-assistant > * {
  color: #ffffff; }

ol.student-queue {
  list-style: none;
  padding-left: 0px; }

div.student {
  text-align: center;
  background-color: #ffffff; }

div.student#self {
  background-color: #48aff0; }
