@import '../node_modules/@blueprintjs/core/lib/scss/variables.scss';

body,
html,
#root {
  min-width: 100vw;
  min-height: 100vh;
  background-color: $light-gray4;
  font-family: 'Fira Sans', sans-serif;
}

.app {
  display: flex;
  flex-flow: column wrap;
  padding-top: 4rem;
  padding-left: 1.25%;
  padding-right: 1.25%;
  width: 97.5%;
  margin-left: auto;
  margin-right: auto;
}

.app-center {
  @extend .app;
  align-items: center;
  justify-content: center;
}

.flex-row-center {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: inherit;
  margin-bottom: 10px;
}

.flex-row-space-evenly {
  @extend .flex-row-center;
  justify-content: space-evenly;
}

.search-input {
  margin: 10px;
}

.create-course {
}

.brand {
  margin-bottom: 10px;
  /* Prevent the brand text from making the page scale horizontally */
  overflow-wrap: break-word;
  max-width: 100%;
}

h1.brand {
  font-size: 4em;
  line-height: 1em;
}

.brand-center {
  @extend .brand;
  text-align: center;
}

div.teaching-assistant {
  margin-bottom: 10px;
  background-color: $blue2;
}

div.teaching-assistant > * {
  color: $white;
}

ol.student-queue {
  list-style: none;
  padding-left: 0px;
}

div.student {
  text-align: center;
  background-color: $white;
}

div.student#self {
  background-color: $blue5;
}
