body,
html,
#root,
.App {
  min-width: 100vw;
  min-height: 100vh; }

.App {
  display: flex;
  flex-flow: column wrap;
  background-color: whitesmoke;
  align-items: center;
  justify-content: center;
  padding-left: 1.25%;
  padding-right: 1.25%; }

.flex-centered-row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly; }

.search-input {
  margin: 10px; }

h1.brand {
  font-family: 'Londrina Solid', cursive;
  font-weight: 400;
  font-size: 3.75rem;
  margin-bottom: 10px;
  text-align: center;
  /* Prevent the brand text from making the page scale horizontally */
  overflow-wrap: break-word;
  max-width: 100%;
  hyphens: auto; }
